<!DOCTYPE html>
<html lang="en">

<head>
 
  <title>Add Student | Student Feedback System</title>
  <%-include('../components/head')%>

</head>

<body>

  <!-- ======= Header ======= -->
  <%-include('../components/header')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%-include('../components/navbar')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Student</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-feedback/dashboard">Home</a></li>
          <li class="breadcrumb-item">Students</li>
          <li class="breadcrumb-item active">Add Student</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add New Student</h5>

              <!-- Custom Styled Validation -->
              <form action="/admin-feedback/students/add-student" method="post" class="needs-validation" novalidate accept-charset="utf-8">
                <div class="row g-2">
                    <div class="mb-3 col-md-4">
                        <label for="rollno" class="form-label">Roll Number</label>
                        <input type="text" class="form-control" name="rollno" placeholder="Roll Number" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Roll No.</div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Name.</div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Email.</div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="password" class="form-label">Student Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Student Password" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Student Password.</div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="parent_email" class="form-label">Parent Email</label>
                        <input type="email" class="form-control" name="parent_email" placeholder="Parent Email" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Parent Email.</div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="department" class="form-label">Department</label>
                        <select name="department" class="form-select" required>
                            <option value="" selected>Choose Department</option>
                            <option value="Computer Engineering">Computer Engineering</option>
                            <option value="Information Technology">Information Technology</option>
                            <option value="Electronics and Telecommunication">Electronics and Telecommunication</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="Electrical Engineering">Electrical Engineering</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please select Item Type.</div>
                    </div>

                </div>
                <div class="row g-2">
                    <div class="mb-3 col-md-8">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Address" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter Address.</div>
                    </div>
                </div>
                
                <%if(exist){%>
                    <div style="color: rgb(206, 7, 0);padding-bottom: 10px;">
                        Student Already exists!
                    </div>
                <% } %>

                <button type="submit" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Add Student</button>
            </form>

            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  
  <%-include('../components/vendor')%>


</body>

</html>