<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/student-feedback/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Feedbacks</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/student-feedback/feedbacks/course">
              <i class="bi bi-circle"></i><span>Students Feedback</span>
            </a>
          </li>
          
          <li>
            <a href="/student-feedback/feedbacks/internship">
              <i class="bi bi-circle"></i><span>Internship Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/student-feedback/feedbacks/industrial-visit">
              <i class="bi bi-circle"></i><span>Industrial Visit Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/student-feedback/feedbacks/seminar">
              <i class="bi bi-circle"></i><span>Seminar / Expert Lecture Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/student-feedback/feedbacks/alumni">
              <i class="bi bi-circle"></i><span>Alumni Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/student-feedback/feedbacks/exit">
              <i class="bi bi-circle"></i><span>Exit Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/student-feedback/feedbacks/parent">
              <i class="bi bi-circle"></i><span>Parents Feedbacks</span>
            </a>
          </li>

        </ul>
      </li><!-- End Components Nav -->    

    </ul>

  </aside><!-- End Sidebar-->
