<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/images/logo.png" width="75%" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/admin-feedback/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/admin-feedback/students"><i class="fas fa-user-alt"></i> Students</a>
        </li>
        <li>
            <a href=""><i class="fas fa-table"></i> Feedbacks</a>
        </li>
        
    </ul>
</nav>